bkp/*
infraestructure/.terraform/*
infraestructure/.terraform.lock.hcl
infraestructure/terraform.tfstate.backup
infraestructure/terraform.tfstate
infraestructure/ec2_key_pair.pem
terraform.tfstate
infraestructure/.terraform.tfstate.lock.info
infraestructure/aws_vars.tfvars
services/.env